#index.alchemy.item.ItemBeltGuard > lastDamageTime
public net.minecraft.util.CombatTracker field_94555_c

#index.alchemy.potion.PotionIgnore > attackTarget
public net.minecraft.entity.EntityLiving field_70696_bz

#index.alchemy.item.ItemRingSpace > delayBeforeCanPickup
public net.minecraft.entity.item.EntityItem field_145804_b

#index.alchemy.item.ItemRingSpace > rand
public net.minecraft.entity.Entity field_70146_Z

#index.alchemy.capability.CapabilityTimeLeap > fire
public net.minecraft.entity.Entity field_70151_c

#index.alchemy.capability.CapabilityBauble > unpressKey
public net.minecraft.client.settings.KeyBinding func_74505_d()V

#index.alchemy.potion.PotionWitchcraft > tickCount
public net.minecraft.entity.ai.EntityAITasks field_75778_d

#index.alchemy.world.dimension.AlchemyDimensionType > clazz
public net.minecraft.world.DimensionType field_186077_g

#index.alchemy.item.ItemBeltGuard > lastDamage
public net.minecraft.entity.EntityLivingBase field_110153_bc